.charContainer {
    position: absolute;
}

.head {
    position: relative;
    transform-origin: center bottom;
}

.headRockLeft {
    animation: rockLeft 0.6s ease-in-out infinite alternate;
}

.headRockRight {
    animation: rockRight 0.6s ease-in-out infinite alternate;
}

@keyframes rockLeft {
    0% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}

@keyframes rockRight {
    0% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

.eyes {
    
}

.torso {

}